<div class="row">
		  <div class="col-md footer1">
			<h1 class="col-heading white">Contact Us</h1>
			<div class="content-container">
			<i class="fa fa-mobile fa-3x" id="phone" aria-hidden="true"></i>
			<p class="phone">205. 382. 3731</p>
			<i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
			<p class="filler email">justin.foster.contact@proclean.com</p>
			<div class="socialmedias">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-youtube"></i></a>
		</div>
		</div>
		  </div>
		  <div class="col-md footer2">
					<div class="content-container">
				<h1 class="col-heading white">Quick Contact</h1>
				
				<form ng-submit="send()" id="form">
							<input id="email" type="email" ng-model="email" placeholder="YOUR EMAIL" required>
							<textarea id="message" type="text" ng-model="message" placeholder="MESSAGE" required></textarea>
							<input type="submit" value="Submit" id="submit" data-toggle="modal" data-target="#myModal">
						</form>
						
							  <!-- Modal -->
							  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
								  <div class="modal-content">
									<div class="modal-header">
									  <h5 class="modal-title" id="exampleModalLabel">Thanks for reaching out to us!</h5>
									  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									  </button>
									</div>
									<div class="modal-body">
										We'll get back to you shortly. Bon appetit!
									</div>
									<div class="modal-footer">
									  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								  </div>
								</div>
							  </div>
				

				</div>
		</div>
		</div>
				